# Ignore node_modules 
node_modules

# Ignore build output 
build

# Ignore test and configuration files
coverage
.env
.env.local
.env.development
.env.test
.env.production

# Ignore local development files
*.log
yarn-debug.log*
yarn-error.log*

# Ignore Docker-related files
Dockerfile
.dockerignore
